img{
  pointer-events: none;
}
.navbuttons div:hover{
  color:#000000 !important;
  /* cursor: url('../assets/pointer.svg'),auto; */
}
.navBarLogo{
  cursor: url('../assets/pointer.svg'),auto;
}
.footerContainer{
  padding: 3%;
  display: flex;  
  background: linear-gradient(to left, #8100E7 0%, #2D0A79 100%);
  background: linear-gradient(320deg, #202020 0%, #000000 100%);
  justify-content: center;
  align-items: center;
  color: #ffffff !important;
}
.footerContainer > *{
  padding:2% 7% ;
}
.close{
  display: none;
}
.closeIcon{
  padding: 5%;
  color: #ffffff !important;
  text-shadow: none !important;
  margin: 0% !important;
}
.sitemap{
  display: flex;
  flex-direction: column;
}
.ConsultancyTitle{
  font-size: 2vw;
  font-weight: 800;
}
.ConsultancyText{
  font-size: 1vw;
  font-weight: 500;
  padding-bottom: 5%;
  color: rgba(0, 0, 0, .6);
}
.swal-button{
  background-color: #6C3FEA;
}
.swal-button:not([disabled]):hover{
  background-color: #512db3;
}

body{
  overflow-x: clip;
  overflow-x: hidden;
  margin: 0 !important;
  /* background: linear-gradient(to left, #efeaff, #FFFFFF);  */
  background-color: #F4F4FF !important ;
  /* background-image: url('../assets/background_svg.svg'); */
  font-family: 'Montserrat', sans-serif !important;
  cursor: url('../assets/cursor.svg'), auto;	
}
::selection {
  background: #6C3FEA; /* WebKit/Blink Browsers */
  color: #ffffff;
}
::-moz-selection {
  background: #6C3FEA; /* Gecko Browsers */
  color: #ffffff;
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #16083d; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: #6C3FEA; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  cursor: pointer;
  background: #512db3; 
  cursor: url('../assets/pointer.svg'), auto;
}


.loaderParent{
  display: flex;
  margin: 0%;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: ease-out 2s;
  animation:fadeOut 1s linear;
}
.loader{
  width: 400%;
  transform: translate(0%, 100%);
}

.navBarContainer {
  margin: 0 !important;
  z-index: 2;
  animation: slideDown 600ms ease-in-out;
  padding: 1% 10%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  
  position: fixed;
  height: max-content;
  left: 0px;
  top: 0px;
  /* background: rgba(255, 255 255, .); */
  /* backdrop-filter: blur(24px); */
  background: #ffffff;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.05);
 }
 .navbuttons{
  font-weight: 600;
  color: black;
  display: flex;
  margin-right: 0%;
  
  
  /* padding: 3% 0%; */
  color: rgba(0, 0, 0, 0.4);
 }
 #active{
   color:black;
 }
 
 .contact{
      font-weight: 600;
      color:black;
      
      border-radius: 24px;
      transition: ease-in 300ms  ;
      border:1px solid  black;
 }
 .navbuttons .contact:hover{
  border:1px solid  white;
   cursor: url('../assets/pointer.svg'),auto;
  background: black;
   color:#ffffff !important;
   
 }
 .contact:active{
  transform: scale(0.95);

 }
 .schedule:active{
  transform: scale(0.95);
  background-color: #1a1a1a;
 }
 .innerCard:active{
  transform: scale(0.95);
  filter: brightness(105%);

 }
 .navbuttons div{
  letter-spacing: 20%;
      transition: ease-in 200ms;
      font-size: 0.75vw;
      margin-right: 1vw;
      padding:0.5vw  1vw ;
 }
 .logo{
 width: 10vw;
 }
 .logo-heading {
  margin:0%;
 }
 
 .title1 {
  margin-top: 0;
  margin-bottom: 0;
  
  color: black; 
  font-size: 3.5vw !important;
  font-weight:700;
  letter-spacing: 2%;
}



.title2{
  padding-top: 1%;
  margin: 0% !important; 
  background: linear-gradient(89.94deg, #6C3FEA -5.94%, #3EEDF9 112.92%);
  font-size: 3.5vw;
  font-weight:700;
  text-align: left;
  -webkit-background-clip: text;
  background-clip:text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 2%;
  line-height: 3.5vw;
  width: fit-content;
}  
 
.heroContent{
  animation: slideUp 500ms ease-in-out;
  padding-top: 8%;
  padding-left: 8%;
  display: flex;
  width: 90%;
  align-items: flex-start;
  justify-content: space-around;
}   
.heroText{
  width: 42%;
}
.heroImage{  
    width: 38vw;
}
.zoomImage{
  animation: zoomImage 500ms ease-in-out ;
}
.header{
  text-align: justify;
  margin:3% 0%;
  font-size: 1.1vw;
  font-weight:500;
  color: rgba(0, 0, 0, 0.6);
}
a:hover{
  text-decoration: none !important;
  color: #000000 !important;
  cursor: url("../assets/pointer.svg"),auto;}
a{
  transition: 300ms ease-in;
  color: rgba(0, 0, 0, .4) !important;
}
.connectCTA{
  width: 31%;
  
  transition: 300ms ease-in;
  display: flex;
  cursor: url("../assets/pointer.svg"),auto;
}
.arrow{
  
  margin-left: 2%;
  width: 1vw;
}

.burgerIcon {
  display: none;
}

.services{
  padding: 0% 10% ;
  animation: slideUp 500ms ease-in-out;
  width: 100%;
  
}

.cards{
  display: grid;
  grid-template-columns: auto auto auto;
}
.cardTitle{
  font-size:2vw  !important;
  padding: 1% 0%;
  font-weight: 800;
}
.uiux{
  background: url('../assets/cards/uiux.png');
}
.illustration{
  background: url('../assets/cards/illustrations.png');
}
.photoediting{
  background: url('../assets/cards/photoediting.png');
}
.magazine{
  background: url('../assets/cards/magazine.png');
}
.motion{
  background: url('../assets/cards/motion.png');
}
.pitch{
  background: url('../assets/cards/pitch.png');
}
.branding{
  background: url('../assets/cards/branding.png');
}
.consultancy{
  background: url('../assets/cards/consultancy.png');
}
.connects{
  background: url('../assets/cards/social.png');
}
.aboutContent{
  animation: slideUp 500ms ease-in-out;
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutImageMain{
  background-position: center;
  background-size:100%;
  
  background-image: url("../assets/about.jpg");
  width: 100vw;
  height: 46vw;
  /* border: 1px solid; */
  
}

.aboutCardsContainer{
  animation: slideUp 1000ms ease-in-out;
  display: flex;
  width: 82%;  
  text-align: justify;
  padding: 1%;
  position: absolute;
  padding-top: 26% !important;
}
.aboutCard{
  background: rgba(255, 255, 255, .8);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  padding: 2%;
  margin-right: 2%;
  
}
.aboutImageOther{
  width: 12vw;
  padding-bottom: 5%;
}
.mission{
  width: 14vw;
}
.aboutCardDescription{
  font-size: 1vw;
  font-weight: 500;  
  color:rgba(0, 0, 0, .6)
}
.slideupAnimation{
  animation: slideUp 750ms ease-in-out;
}
.innerCard{
  
  animation: slideUp 750ms ease-in-out;
  filter: brightness(0.95);
  background-position: center;
  background-size:100%;
  height: 13vw ;
  width: 25vw ;
  margin:3%;
  border-radius: 8px;
  transition: ease-in 300ms;
}
.innerCard:hover{
  transform: scale(1.025);
  filter: brightness(110%);
  cursor: url('../assets/pointer.svg'), auto;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1); 
}

.testimonials{

width: 100%;
padding: 2% 10% 2% 10%;

}
.testimonialsContent{
  border-radius: 24px !important;
  background-color: #ffffff;
  color:#333333;
padding: 2% 5% 2% 1.5%;
display: flex;
flex-direction: column;
}

.testimonialsText{
font-size: 1.5vw;
font-weight: regular;
}
.testimonialsProfile{
padding-top: 1%;
display: flex;
justify-content:start;
}
.personImage{
width: 2.2vw;

}
.testimonialsImage{
margin-right:1%
}
.testimonialsPerson{
font-size: .95vw;
font-weight: 600;
}
.carousel{
border-radius: 8px;
overflow: clip;
}
.carousel-indicators li{
background-color: rgba(0,0,0,0);
border: 1px solid #36008E !important;
}
.carousel-indicators li:hover{
cursor: pointer;
}
.carousel-indicators .active{
background-color: #36008E !important;
}
.form-control{
border:none !important;
border-radius: 48px !important;
border-bottom: 1px solid rgba(0, 0, 0, .4) !important;
box-shadow: none !important;
}
input{
margin-bottom: 5% !important;
}
.label{
border: none !important;
}
.smithbhavin{
display: flex;
flex-direction: column;
}
.us{
display: flex;
flex-direction: column;
padding-right: 5%;
}
.smithbhavin{
display: flex;
flex-direction: row ;
justify-content: center;
align-items: center;
}
.bhavin{
  padding-left:7% ;
}
.smith{
  padding-left:7% ;
}

.ourPhoto{
width: 13vw;
transition: 300ms ease-in;
}
.ourName{
padding-top: 2%;
font-size: 1.25vw;
font-weight: 600;
}
.ourNumber{
font-size: 1vw;
}
.ourMail{
padding-top: 2%;
font-size: 1vw;
}
.connectCTA .arrow{
  transition: ease-in 200ms;
}
.connectCTA:hover .arrow{
  transform: translateX(5px)
}

.connectCTA:hover{

color: #000000;
}
.ourNumber a{
  color: black;
  
 }
.us:hover .ourPhoto{
transform: scale(1.02);
}

.schedule{
  margin-top: 5%;
  padding: 2%;
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  width: 100%;
  border-radius: 24px;
  color: black;
  border: 1px solid black;
  transition: 300ms ease-in;
  text-align: center;
}
.schedule:hover{
  color: white;
  background: black;
  text-decoration: none !important;
}
.modal{
  background-color: rgba(0, 0, 0, 0.4) !important;

}
.opensource{
  transition: ease-in 200ms;
  color: inherit;
  text-decoration: underline;
}
.opensource:hover{
  cursor: url("../assets/pointer.svg"), auto;
  color: #36008E;

}
.connectCTA:active,.opensource:active{
  transform: scale(0.95);
}
.mobile{
  display: none;
}
@media screen and (max-width: 1600px) {
  .navbuttons div{
    font-size: .88vw;
  }
  .navBarContainer{
    padding: 1% 5%;
    width: 100%;
  }
  .navbuttons{
    margin:0% !important;
    
  }
  .heroContent{
    padding-left: 0%;
    width: 100%;
  }
  .title1,.title2{
    font-size: 4vw !important;
  }
  .header{
    font-size: 1.3vw;
  }
  .services{
    padding: 0 5%;
  }
  
  .innerCard{
    width: 28vw;
    height: 14vw;
  }
  .testimonials{
    padding:5% 5%;

  }
  .aboutCardsContainer{
    width: 95vw;
  }
}

@media screen and (max-width: 991px) {
  .footerContainer{
    display: flex;
    flex-direction: column;
    width: 100vw;
    /* background-color: #fff; */
    
    justify-content: center;
    align-items: center;
  }
  .footerContainer > *{
    padding:5% ;
  }
  .sitemap{
    display: flex;
    
  }
  .subnav{
    display: flex;
    width: 65vw !important;
  }
  .desktop{
    display: none;
  }
  .mobile{
    display: flex;
  }
  .navbuttons div{
    font-size: 1.5vw;
  }
  .connectCTA{
    width: 40%;
  }
  .heroImage{
    width:45vw
  }
  .logo{
    width: 15vw;
  }
  .navBarContainer{
    padding: 1% 0% 1% 1% !important;
  }

  .navbuttons{
    margin-right:5%
  }
  .heroContent{
    padding-left: 0%;
    width: 100%;
  }
  .title1,.title2{
    font-size: 4.4vw !important;
  }
  .header{
    font-size: 1.8vw;
  }
  .services{
    padding: 0 5%;
  }
  .cards{
    grid-template-columns: auto auto;
  }
  .innerCard{
    width: 42vw;
    height: 22vw;
  }
  .testimonials{
    padding:5% 5%
  }
  .testimonialsText{
    font-size: 2vw;
  }
  .testimonialsPerson{
    font-size: 1.6vw;
  }
  .aboutCardsContainer{
    width: 95vw;
  }
  .ConsultancyTitle{
    font-size: 4vw;
  }
  .ConsultancyText{
    font-size: 2vw;
  }
  .ourPhoto{
    width: 25vw;
  }
  .ourName{
    font-size: 2vw;
  }
  .ourNumber{
    font-size: 1.6vw;
  }
  .ourMail{
    padding-top: 5%;
    font-size: 1.6vw;
  }
  
}
.hideme{
  pointer-events: none;
}

@media screen and (max-width: 550px) {
  ::-webkit-scrollbar {
    width: 4px;
  }
  .close{
    display: block;
    z-index: 3 !important;
    position: fixed !important;  
    background-color: #000000 !important;
    height: 10vw;
    width: 10vw;
    margin-left: 85%;
    margin-top: 2%;
    font-size: 8vw !important;
    float: none !important;
    font-weight: 300 !important;
    border-radius: 100%;
    opacity: 1 !important; 
    box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.05);
  }
  .close:active{
    transform: scale(0.8);
  }
  .ConsultancyTitle{
    font-size: 6vw;
    font-weight: 800;
  }
  .ConsultancyText{
    font-size: 4vw;
    font-weight: 500;
  }
  .aboutImageMain{
    background-position: center;
    background-size:100%;
    background-image: url("../assets/aboutMobile.jpg");
    width: 100vw;
    position: relative !important;
    height: 65vw;    
    background-size: 100vw;
    background-repeat: no-repeat;
  }
  .aboutImageOther{
    width: 35vw;
  }
  .mission{
    width: 42vw;
  }
  .aboutCardDescription{
    font-size: 4vw;    
    height: min-content;
  }
  
  .aboutCard{
    padding: 4%;
    width: 95% !important;
    margin: 2%;
  }
  .aboutCardsContainer{
    position: relative;
    overflow: clip;
    display: flex;
    flex-direction: column;
    padding: 0% !important;
    width: 100vw;
    transition: 300ms ease-in;
    margin-top: -10% !important;
    /* transform: translate(0%,-5%); */
  }
  .aboutCard{
    width: 100vw;
  }
  .aboutContent{
    padding-top: 34%;
  }
  .connectCTA{
    width: 50%;
  }
  .navBarContainer{
      border-radius: 8px;
      
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      padding : 3% 0%;
      width: 100%;
      box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.09);
  }

  .navbuttons{
      
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      padding: 3% 0%;
      /* border: 1px solid rgba(0, 0, 0, 0); */
      margin:0% !important;
      color: rgba(0, 0, 0, 0.4);
    }
    .navbuttons #active{
      color:black  !important;
    }
    
    .about:hover{
      cursor:pointer;

    }
    
    .contact{
      color: white;
      border: 1px solid white;
      background: linear-gradient(89.96deg, #4829A0 0.85%, #8053FF 99.96%);
    }
    .navbuttons div{
      
     font-size: 3.5vw;
     margin-right: 1vw !important;
     padding: 2% 4% 2% ;
     
    }
    
     .logo {
       width: 40vw;
     }
   .heroContent{
      padding-top: 36%;
      
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
   }
   .heroImage{
      
      width:100vw ;
      
   }
   .heroText{
      
       width: 90%;
   }
  
   .title1{
      font-family: 'Montserrat', sans-serif !important;
      text-align: left;
      font-size: 8vw !important;
      font-weight: 900;
   }
   .title2{
     text-align: left;
     font-size: 8vw !important;
     line-height: 100%;
     font-weight: 900;
   }
   .header{
       font-size: 4vw;
   }
   .arrow{
       width: 4vw;
   }
   .cards{
    display: flex;
    flex-direction: column;
  }
   .cardTitle{
      font-size:6vw  !important;
      padding: 5% 0%;
  }
  
  .innerCard{
      height: 45vw;
      width: 90vw;
      margin: 1% !important;
      
  }
 .services{
  
    padding: 5%;
    width: 100%;
 }
 .testimonials{
  
  width: 100%;
  padding: 5% 5%;

}
.testimonialsContent{
  background-color: #F2EAFF;
  color:#36008E;
  padding: 5% 5%;
  display: flex;
  flex-direction: column;
}

.testimonialsText{
  text-align: justify;
  font-size: 5vw;
  font-weight: regular;
}
.testimonialsProfile{
  padding-top: 4%;
  display: flex;
  justify-content:start;
}
.personImage{
  width: 12vw;
  
}
.testimonialsImage{
  margin-right:2%
}
.testimonialsPerson{
  font-size: 4vw;
  font-weight: 600;
}
.carousel-indicators{
  bottom: 0px !important;  
  margin-bottom: 0% !important;
}
.smithbhavin{
  flex-direction: column ;  
}
.profile{
  flex-direction: column;
}
.us{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}
.ourPhoto{
  width: 45vw;
}
.ourName{
  padding-top: 2%;
  font-size: 5.25vw;
  font-weight: 600;
}
.ourNumber{
  font-size: 5vw;
}
.ourMail{
  padding-top: 2%;
  font-size: 5vw;
}
.one,.two,.three{
  display: none;
}

}

