body{
    background-color: #F4F4FF !important;    
}

a{
    
    color: inherit !important;
    text-decoration: none;
}
 
.subHeader{
    
    
    
    padding-top: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}
.headerText{
    font-weight: 600;
    font-size: 2vw;
    padding-left: 1%;
}
.sub{
    animation: slideUp 500ms ease-in-out;
    padding: 0% 10%;
    cursor: url('../assets/cursor.svg'),auto;
}
.arrowBack{
    width: 1.5vw;
    transform: rotate(180deg);
    cursor: url("../assets/pointer.svg"),auto;
}
.arrowBack:hover{
    cursor: url("../assets/pointer.svg"),auto;
}
.definition {
    border-radius: 0px;
    margin: 1% 0%;
    padding: 1%;
    /* animation: slideDown 500ms ease-in-out; */
}
.definitionTitle{
    padding-bottom: 1%;
   
    font-size: 1.25vw;
    font-weight: 600;
}
.definitionSub{
    width: 100%;
    font-size: 1vw;
}
.processHeader,.gridTitle{
    font-size: 1.5vw;
    margin-bottom: 1%;
    padding-bottom: 1%;
    font-weight: 600;
    position: relative;
    
}
.processHeader::before,.gridTitle::before{
    
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 5%;
        left: 0%;
        border-bottom: 8px solid #6C3FEA;
        border-radius: 24px;
        

}
.process{
    display: grid;
    grid-template-columns: auto auto;
}
.processGrid{
    animation: slideUp 800ms ease-in-out;
    text-align: justify;
    margin:0% 3% 3% 0%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.processicon{
    width: 3vw;
    padding-bottom: 3%;
}
.processTitle{
    font-size: 1.25vw;
    font-weight: 600;
    padding-bottom: 2%;
}
.processText{
    font-size: 1vw;
    width: 90%;
}

.nda{
    margin:0% 1.5% 1.5% 0%;
    width: 25vw;
    border-radius: 8px;
}
.close{
    position: sticky;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.stellars{
    background: url('../assets/product/stellars.webp');
}
.NeoFantasy{
    background: url('../assets/product/NeoFantasy.webp');
}

.Footrax{
    background: url('../assets/product/Footrax.webp');
}
.AstroEnergyGuru{
background: url('../assets/product/AstroEnergyGuru.webp');
}
.FestingerVault{
background: url('../assets/product/FestingerVault.webp');
}
.neo2172{
background: url('../assets/product/2172.webp');
}
.parkingBae{
background: url('../assets/product/parkingBae.webp');
}
.Inforida{
background: url('../assets/product/Inforida.webp');
}
.Babel{
background: url('../assets/product/Babel.webp');
}
.Betterbarter{
background: url('../assets/product/Betterbarter.webp');
}
.sphereNews{
background: url('../assets/product/sphereNews.webp');
}
.connect{
background: url('../assets/product/connect.webp');
}
.bhumi1{
    background: url('../assets/illustrations/bhumi1.webp');
}
.bhumi2{
    background: url('../assets/illustrations/bhumi2.webp');
}
.LisaMishra{
    background: url('../assets/illustrations/LisaMishra.webp');
}
.JuhiBhatt{
    background: url('../assets/illustrations/JuhiBhatt.webp');
}
.Manon{
    background: url('../assets/illustrations/Manon.webp');
}
.GabyThomas{
    background: url('../assets/illustrations/GabbyThomas1.webp');
}
.GabyThomas_2{
    background: url('../assets/illustrations/GabbyThomas2.webp');
}
.SaharSaiyed{
    background: url('../assets/illustrations/SaharSaiyed.webp');
}
.SaharSaiyedRed{
    background: url('../assets/illustrations/SaharSaiyedRed.webp');
}
.AnushkaSen{
    background: url('../assets/illustrations/AnushkaSen.webp');
}
.ShipraKhanna{
    background: url('../assets/illustrations/ShipraKhanna.webp');
}
.taapse{
    background: url('../assets/editing/taapse.webp');
}
.indianCricketTeam{
    background: url('../assets/editing/indianCricketTeam.webp');
}
.klaudia{
    background: url('../assets/editing/klaudia.webp');
}
.klaudia2{
    background: url('../assets/editing/klaudia2.webp');
}
.rohit{
    background: url('../assets/editing/rohit.webp');
}
.pollard{
    background: url('../assets/editing/pollard.webp');
}
.krunalPandya{
    background: url('../assets/editing/krunalPandya.webp');
}
.barbara{
    background: url('../assets/editing/barbara.webp');
}
.michelle{
    background: url('../assets/editing/michelle.webp');
}
.angelina{
    background: url('../assets/editing/angelina.webp');
}
.angelina2{
    background: url('../assets/editing/angelina2.webp');
}
.louann{
    background: url('../assets/editing/louann.webp');
}
.marta{
    background: url('../assets/editing/marta.webp');
}
.gabbyThomas{
    background: url('../assets/editing/gabbyThomas.webp');
}
.dishaPatani{
    background: url('../assets/editing/dishaPatani.webp');
}
.paulina{
    background: url('../assets/editing/paulina.webp');
}
.nikitaGajjar{
    background: url('../assets/editing/nikitaGajjar.webp');
}
.adriana{
    background: url('../assets/editing/adriana.webp');
}
.neofantasy{
    background: url('../assets/pitch/neofantasyPitchDeck.webp');
}
.nextblock{
    background: url('../assets/pitch/NextBlockPitchDeck.webp');
}
.betterbarter{
    background: url('../assets/pitch/BetterBarterPitchDeck.webp');
}
.bdesigner{
    background: url('../assets/branding/bdesigner.webp');
}
.meraki{
    background: url('../assets/branding/meraki.webp');
}
.ms{
    background: url('../assets/branding/ms.webp');
}
.lohana{
    background: url('../assets/branding/lohana.webp');
    
}
.lfa17{
    background: url('../assets/magazine/lfa17.webp');
}
.lfa16{
    background: url('../assets/magazine/lfa16.webp');
}
.barVideo{
    background: url('../assets/motion/bar.webp');
}
.bdesignerBOX{
    background: url('../assets/motion/bdesignerBOX.webp');
}
.bdesignerBOX{
    background: url('../assets/motion/bdesignerBOX.webp');
}
.lfa{
    background: url('../assets/social/LFAHeader.webp');
}
.aarchik{
    background: url('../assets/social/aarchikHeader.webp');
}
.mindra{
    background: url('../assets/social/MindraHeader.webp');
}
.designtalks{
    background: url('../assets/social/DesignTalkHeader.webp');
}
.letsbiz{
    background: url('../assets/social/letsbizHeader.webp');
}
.neofantasySocial{
    background: url('../assets/social/neofantasyHeader.webp');
}
.pitchDeck{
    
    background-position: center;
    background-size:100%;
    height: 14vw;
    width: 23vw;
    margin:1.5%;
    margin-bottom: 10%;
    border-radius: 8px;
    transition: ease-in 300ms;
    
  }
.modal{
    /* backdrop-filter: blur(8px); */
    animation: fadeIn 500ms ease-in;
    background-color: rgba(0, 0, 0, 0.4) !important;
    display: flex;
    justify-content: space-between;
    margin: 0% !important;
    width: 100vw;
    overflow: clip;
    
}
.productContainer{
    
    transform: translate(40%,1%);
    border-radius: 24px;
    width: fit-content;
    overflow: clip;
}
.videoContainer{
    transform: translate(120%,1%);
    width: fit-content;
    border-radius: 24px;
    overflow: clip;
}

.productLarge{
    backdrop-filter: blur(24px);
    width: 55vw;

}
.CardContainer{

    border-radius: 24px !important;
    overflow: clip;
    transform: translate(15%,2%);
    display: flex;
    width: 80%;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(48px) !important;

}
.ContainerCard{
    
    color: #ffffff;
    padding: 2%;
    width: 50%;

    
}
.keywordTitle,.toolsTitle{
    margin-top: 2%;
    color: rgba(255,255,255,0.4);
    font-size: 0.7vw;
}
.close{
    color: #ffffff !important;
}
.keywordList{
    display: flex;
    
}
.keywords{
    font-size: 0.85vw;
    padding: 1% 2%;
    margin: 2% 2% 2% 0%;
    border:1px solid white;
    width: fit-content;
}
.toolsImages{
    display: flex;
    padding-bottom:5% ;
}
.toolIcon{
    width: 4vw;
}
.tools{
    margin:2% 2% 0% 0%;
}
.ContainerSubtitle{
    font-size: 1.25vw;
}
.closeMe{
    color: white;
}
.ContainerTitle{
    font-size: 2vw;
    font-weight: 600;
}

.imageLarge{
    
    border-radius: 24px;
    transform: scale(1.01);
    object-fit: cover;
    width: auto; /* width of container */
    height: 49vw; /* height of container */
    width: 50vw;
}

.illustrationsContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.illustrations{
  animation: slideUp 1000ms ease-in-out;
  background-position: center;
  background-size:100%;
  height: 18.5vw;
  width: 18.5vw;
  margin:4% 0%;
  border-radius: 8px;
  transition: ease-in 300ms;
}
.productCard,.magazineCard{
  background-position: center;
  background-size:100%;
  height: 15vw;
  width: 25vw;
  margin:2% 0%;
  border-radius: 8px;
  transition: ease-in 300ms;
  
}
.pitchDeck:hover,.illustrations:hover,.productCard:hover,.magazineCard:hover{
  transform: scale(1.025);
  /* filter: brightness(105%); */
  cursor: url('../assets/pointer.svg'), auto;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1); 
}

.gotoPortfolio{
    text-decoration: underline;
    padding-top:1%;
    color:rgba(0,0,0,0.6);
    font-size: 1vw; 
    
}
.gotoPortfolio:hover{
    text-decoration: none;
    color:#000000;
    font-weight: 400;
}
.lfa17,.lfa16{
    height: 17vw;
}

@media screen and (max-width: 1600px){
    .lfa17,.lfa16{
        height: 17vw;
    }
    .sub{
        padding: 0% 5%;
    }
    .productCard,.magazineCard{
        width: 28vw;
        height: 17.5vw;
    }
    .illustrations{
        height: 21.5vw;
        width: 21.5vw;
    }
    .pitchDeck{
        width: 29vw ;
        height: 17vw ;
      }
}
@media screen and (max-width: 991px){

    .sub{
        padding: 0% 5%;
    }
    .grid{
        grid-template-columns: auto auto;
    }
    .headerText{
        font-size: 3vw;
        font-weight: 500 ;
    }
    .definitionTitle{
        font-size: 2vw;
    }
    .gotoPortfolio,.definitionSub{
        font-size: 1.6vw;
    }
    .processHeader,.gridTitle{
        font-size: 1.6vw;
    }
    .processTitle{
        font-size: 1.5vw;
    }
    .processText{
        font-size: 1.5vw;
    }
    .productCard, .magazineCard{
        width: 42vw;
        height: 25vw;
    }
    .illustrations{
        height: 21.5vw;
        width: 21.5vw;
    }
    .pitchDeck{
        width: 29vw ;
        height: 17vw ;
      }
    .processHeader::before,.gridTitle::before{
        border-bottom: 3px solid #6C3FEA;
        border-radius: 24px;
    }
    .ContainerCard{
        padding: 5%;
    }
   
}
@media screen and (max-width: 550px) {
    
    .ContainerCard{
        padding: 5%;
    }
    .processHeader,.gridTitle{
        padding-bottom: 1%;
        margin-bottom: 5%;
    }
    
    .processHeader::before,.gridTitle::before{
    
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        width: 15%;
        left: 0%;
        border-bottom: 8px solid #6C3FEA;
        border-radius: 24px;
        

}
    .toolIcon{
        width: 14vw;
    }
    .gotoPortfolio{
       
        text-decoration: underline;
        padding-left:2%;
        color: #000000;
        font-size: 4vw;
    }
    .navbuttons{
        padding-left: 0%;
    }
    .sub{
        padding: 0% 5%;
    }
    .subHeader{
        padding-top: 40%;
        padding-bottom: 5% ;
        
    
    }
    .arrowBack{
        width: 6vw;
    }
    
    .definitionTitle{
        padding: 2%;
        
        font-size: 5vw;
    }
    .definitionSub{
        text-align: justify;
        width: 95%;
        padding: 2%;
        font-size: 4vw;
    }
    
    .processHeader,.gridTitle{
            
        font-family: 'Montserrat',sans-serif;
        padding: 5% 0%;
        font-size: 5vw;
        font-weight: 800 !important;
    }
    
    .illustrationsContainer,.pitchContainer,.grid,.process{
        grid-template-columns: auto;
    }
    .illustrationsContainer{
        grid-template-columns: auto auto;
    }
    .pitchDeck{
        animation: slideUp 300ms ease-in;
        width: 90vw;
        height: 48vw;
    }
    .illustrations{
        width: 44vw;
        height: 44vw;
    }
    .processicon{
        width: 10vw;
    }
    .processTitle{
        font-size: 5vw;
    }
    .processText{
        font-size: 4vw;
        width: 95%;
        text-align: justify;
    }
    .headerText{
        font-size: 6vw;
        font-weight: 800 ;
        padding-left: 2%;
    }

    .nda{
        width: 90vw;
        margin: 1% !important;
        
    }

    .lfa17,.lfa16,.productCard,.magazineCard{
        height: 55vw;
        width: 90vw;
    }

    
    .CardContainer{
        border-radius: 8px !important;
        flex-direction: column;
        width:95%;
        transform: translate(2.5%,5%);
        bottom: 100;

    }

    .productContainer{
        overflow: hidden;
        border-radius: 0% !important;
        width:100%;
        padding-bottom:5%;
        transform: translate(0,2%);
        bottom: 0;
        
    }
    .videoContainer{
        width:100%;
        transform: translate(0%,2%);
        bottom: 0;
    }
    .productLarge{
        width: 100vw;
    }
    .imageLarge{
        padding: 4%;
        height: auto;
        width: 95vw;
        border-radius:24px !important;
    }
    .ContainerCard{
        width: 100%;
    }
    .ContainerTitle{
        font-size: 8vw;
    }
    .ContainerSubtitle{
        font-size: 5vw;
    }
    .keywordTitle,.toolsTitle{
        font-size: 4vw;
    }
    .keywords{
        font-size: 3vw;
    }
    .productDef{
        border-left: 2vw solid  #6C3FEA !important;

    }
    .modal{
        padding: 0% !important;
        overflow: hidden;
    }
    
}
.productDef{
    background-color: #ede7ff;
    color:#6C3FEA;
    border-left: 0.5vw solid  #6C3FEA;
}
.product {
    color: #6C3FEA;
}

