body{
    background-color: #F4F4FF !important;
}
a{
    
    color: inherit !important;
    text-decoration: none;
}
.subHeader{
    
    
    
    padding-top: 8%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}
.headerText{
    
    font-size: 2vw;
    padding-left: 1%;
}
.sub{
    animation: slideUp 500ms ease-in-out;
    padding: 0% 10%;
    cursor: url('assets/cursor.svg'),auto;
}
.arrowBack{
    width: 2vw;
    transform: rotate(180deg);
}
.arrowBack:hover{
    cursor: url("assets/pointer.svg"),auto;
}
.headerText{
    font-size: 2vw;
}
.definition {
    border-radius: 0px;
    margin: 1% 0%;
    padding: 1%;
}
.definitionTitle{
    padding-bottom: 1%;
   
    font-size: 1.25vw;
    font-weight: 600;
}
.definitionSub{
    width: 100%;
    font-size: 1vw;
}
.processHeader,.gridTitle{
    font-size: 1.5vw;
    margin-bottom: 1%;
    font-weight: 600;
}
.process{
    display: grid;
    grid-template-columns: auto auto;
}
.processGrid{
    text-align: justify;
    margin:0% 3% 3% 0%;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 3%;
    display: flex;
    flex-direction: column;
}
.processicon{
    width: 3vw;
    padding-bottom: 3%;
}
.processTitle{
    font-size: 1.25vw;
    font-weight: 600;
    padding-bottom: 2%;
}
.processText{
    font-size: 1vw;
    width: 90%;
}

.nda{
    margin:0% 1.5% 1.5% 0%;
    width: 25vw;
    border-radius: 8px;
}
.close{
    position: sticky;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.stellars{
    background: url('assets/product/stellars.jpg');
}
.NeoFantasy{
    background: url('assets/product/NeoFantasy.jpg');
}

.Footrax{
    background: url('assets/product/Footrax.jpg');
}
.AstroEnergyGuru{
background: url('assets/product/AstroEnergyGuru.jpg');
}
.FestingerVault{
background: url('assets/product/FestingerVault.jpg');
}
.neo2172{
background: url('assets/product/2172.jpg');
}
.parkingBae{
background: url('assets/product/parkingBae.jpg');
}
.Inforida{
background: url('assets/product/Inforida.jpg');
}
.Babel{
background: url('assets/product/Babel.jpg');
}
.Betterbarter{
background: url('assets/product/Betterbarter.jpg');
}
.sphereNews{
background: url('assets/product/sphereNews.jpg');
}
.connect{
background: url('assets/product/connect.jpg');
}
.bhumi1{
    background: url('assets/illustrations/bhumi_1.jpg');
}
.bhumi2{
    background: url('assets/illustrations/bhumi_2.jpg');
}
.LisaMishra{
    background: url('assets/illustrations/LisaMishra.jpg');
}
.JuhiBhatt{
    background: url('assets/illustrations/JuhiBhatt.jpg');
}
.Manon{
    background: url('assets/illustrations/Manon.jpg');
}
.GabyThomas{
    background: url('assets/illustrations/GabbyThomas.jpg');
}
.GabyThomas_2{
    background: url('assets/illustrations/GabbyThomas_2.jpg');
}
.SaharSaiyed{
    background: url('assets/illustrations/SaharSaiyed.jpg');
}
.SaharSaiyedRed{
    background: url('assets/illustrations/SaharSaiyedRed.jpg');
}
.AnushkaSen{
    background: url('assets/illustrations/AnushkaSen.jpg');
}
.ShipraKhanna{
    background: url('assets/illustrations/ShipraKhanna.jpg');
}
.taapse{
    background: url('assets/editing/taapse.jpg');
}
.indianCricketTeam{
    background: url('assets/editing/indianCricketTeam.jpg');
}
.klaudia{
    background: url('assets/editing/klaudia.jpg');
}
.klaudia2{
    background: url('assets/editing/klaudia2.jpg');
}
.rohit{
    background: url('assets/editing/rohit.jpg');
}
.pollard{
    background: url('assets/editing/pollard.jpg');
}
.krunalPandya{
    background: url('assets/editing/krunalPandya.jpg');
}
.barbara{
    background: url('assets/editing/barbara.jpg');
}
.michelle{
    background: url('assets/editing/michelle.jpg');
}
.angelina{
    background: url('assets/editing/angelina.jpg');
}
.angelina2{
    background: url('assets/editing/angelina2.jpg');
}
.louann{
    background: url('assets/editing/louann.jpg');
}
.marta{
    background: url('assets/editing/marta.jpg');
}
.gabbyThomas{
    background: url('assets/editing/gabbyThomas.jpg');
}
.dishaPatani{
    background: url('assets/editing/dishaPatani.jpg');
}
.paulina{
    background: url('assets/editing/paulina.jpg');
}
.nikitaGajjar{
    background: url('assets/editing/nikitaGajjar.jpg');
}
.adriana{
    background: url('assets/editing/adriana.jpg');
}
.neofantasy{
    background: url('assets/pitch/neofantasyPitchDeck.jpg');
}
.nextblock{
    background: url('assets/pitch/NextBlockPitchDeck.jpg');
}
.betterbarter{
    background: url('assets/pitch/BetterBarterPitchDeck.jpg');
}
.pitchDeck{
    
    background-position: center;
    background-size:100%;
    height: 14vw;
    width: 23vw;
    margin:1.5%;
    margin-bottom: 10%;
    border-radius: 8px;
    transition: ease-in 300ms;
    
  }
.modal{
    animation: slideUp 300ms ease-in;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.4) !important;
    display: flex;
    justify-content: space-between;
    margin: 0% !important;
    width: 100vw;
    overflow: clip;
    
}
.productContainer{
    transform: translate(40%,1%);
    width: fit-content;
    border-radius: 24px;
    overflow: clip;
}

.productLarge{
    
    width: 55vw;

}
.CardContainer{
    border-radius: 24px !important;
    overflow: clip;
    transform: translate(15%,3%);
    display: flex;
    width: 80%;
}
.ContainerCard{
    background-color: #000000;
    color: #ffffff;
    padding: 2%;
    width: 50%;
    
}
.keywordTitle,.toolsTitle{
    margin-top: 2%;
    color: rgba(255,255,255,0.4);
    font-size: 0.7vw;
}
.close{
    color: #ffffff !important;
}
.keywordList{
    display: flex;
    
}
.keywords{
    font-size: 0.85vw;
    padding: 1% 2%;
    margin: 2% 2% 2% 0%;
    border:1px solid white;
    width: fit-content;
}
.toolsImages{
    display: flex;
    padding-bottom:5% ;
}
.toolIcon{
    width: 4vw;
}
.tools{
    margin:2% 2% 0% 0%;
}
.ContainerSubtitle{
    font-size: 1.25vw;
}
.closeMe{
    color: white;
}
.ContainerTitle{
    font-size: 2vw;
    font-weight: 600;
}
.imageLarge{
    
    transform: scale(1.01);
    object-fit: cover;
    width: auto; /* width of container */
    height: 49vw; /* height of container */
    width: 50vw;
    
    
}
.illustrationsContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    
}
.illustrations{
    
  background-position: center;
  background-size:100%;
  height: 18.5vw;
  width: 18.5vw;
  margin:1.5%;
  border-radius: 8px;
  transition: ease-in 300ms;
}
.innerCard{
  background-position: center;
  background-size:100%;
  height: 15vw;
  width: 25vw;
  margin:3%;
  border-radius: 8px;
  transition: ease-in 300ms;
}
.pitchDeck:hover,.illustrations:hover,.innerCard:hover{
  transform: scale(1.025);
  filter: brightness(110%);
  cursor: url('assets/pointer.svg'), auto;
  box-shadow: 8px 8px 24px rgba(0, 0, 0, 0.1); 
}
.navBarContainer{
    width: 100%;
    justify-content: space-between !important;
}
.gotoPortfolio{
    text-decoration: underline;
    padding-top:1%;
    color:rgba(0,0,0,0.6);
    font-size: 1vw; 
    
}
.gotoPortfolio:hover{
    text-decoration: none;
    color:#000000;
    font-weight: 400;
}
@media screen and (max-width: 550px) {
    .toolIcon{
        width: 14vw;
    }
    .gotoPortfolio{
       
        text-decoration: underline;
        padding-left:2%;
        color: #000000;
        font-size: 4vw;
    }
    .navbuttons{
        padding-left: 0%;
    }
    .sub{
        padding: 0% 5%;
    }
    .headerText{
        padding-left: 2%;
    }
    .subHeader{
        padding-top: 45%;
        padding-bottom: 5% ;
        
    
    }
    .arrowBack{
        width: 8vw;
    }
    .definitionTitle{
        padding: 2%;
        
        font-size: 5vw;
    }
    .definitionSub{
        text-align: justify;
        width: 95%;
        padding: 2%;
        font-size: 4vw;
    }
    
    .processHeader,.gridTitle{
        font-family: 'Montserrat',sans-serif;
        padding: 5% 0%;
        font-size: 5vw;
        font-weight: 800 !important;
    }
    
    .illustrationsContainer,.pitchContainer,.grid,.process{
        grid-template-columns: auto;
    }
    .pitchDeck{
        animation: slideUp 300ms ease-in;
        width: 90vw;
        height: 48vw;
    }
    .illustrations{
        width: 88vw;
        height: 88vw;
    }
    .processicon{
        width: 10vw;
    }
    .processTitle{
        font-size: 5vw;
    }
    .processText{
        font-size: 4vw;
        width: 95%;
        text-align: justify;
    }
    .headerText{
        font-size: 8vw;
    }

    .nda{
        width: 90vw;
        margin: 1% !important;
        
    }
    .innerCard{
        height: 55vw;
        width: 90vw;
    }
    .CardContainer{
        border-radius: 0% !important;
        flex-direction: column;
        
        
    }
    
    .CardContainer{
        
        width:100%;
        transform: translate(0%,26%);
        bottom: 100;

    }

    .productContainer{
        
        width:100%;
        transform: translate(0%,1%);
        bottom: 0;
        
    }
    .productLarge,.imageLarge{
        height: auto;
        width: 100vw;
    }
    .ContainerCard{
        width: 100%;
    }
    .ContainerTitle{
        font-size: 8vw;
    }
    .ContainerSubtitle{
        font-size: 5vw;
    }
    .keywordTitle,.toolsTitle{
        font-size: 4vw;
    }
    .keywords{
        font-size: 3vw;
    }
    .productDef{
        border-left: 2vw solid  #6C3FEA !important;

    }
    .modal{
        padding: 0% !important;
    }
}
.productDef{
    background-color: #ede7ff;
    color:#6C3FEA;
    border-left: 0.5vw solid  #6C3FEA;
}
.product {
    color: #6C3FEA;
}

